<%- include('partials/header', { title: 'Home' }) %>

<div class="sticky-footer-wrapper">
    <div class="sticky-footer-content">
        <section class="content_home" style="background: url('/images/home.background.jpg') no-repeat center center/cover; height: 100vh; display: flex; justify-content: center; align-items: center; text-align: center; color: #fff; font-family: Arial, sans-serif;">
            <div class="Main_heading" style="max-width: 800px;">
                <h1 style="font-weight: bold; font-size: 35px; font-family: 'Arial Black', sans-serif; margin-bottom: 0px;">The Cure to 3-Second Attention Spans !!!</h1>
                <p style="font-size: 23px;">Growing an organic following is hard. I make it Easy, Check out my Portfolio.</p>
            </div>
            
        </section>
        <div class="clear"></div>
    </div>
    
    <%- include('partials/footer') %>
</div>
